
<%- include('../parts/html-head') %>  <!-- 兩個點回上一層 -->
<%- include('../parts/navbar') %>

<div class="container">
    <h2>Address Book</h2>
</div>
<%- include('../parts/scripts') %>
<%- include('../parts/html-foot') %>